# Ignore all __pycache__ directories
**/__pycache__/

# Ignore the .env file
.env

# Ignore debug logs
debug.log

# Ignore migrations folders
**/migrations/

# Ignore media folders
media/

# Ignore Python bytecode files
*.pyc
*.pyo
